<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/about.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/footer.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/nav.css" />
    <link rel="shortcut icon" href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-index.png" />
    <title>About | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"
            ><button class="button-nav">Register Now</button></a
          >
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
    <div class="main-section-div">
      <section class="main-section">
        <div class="main-div">
          <h1>CHENNAI INSTITUTE OF TECHNOLOGY</h1>
          <p>
            Chennai Institute of Technology (CIT), established with the
            objective of providing quality technical education with adequate
            industrial exposure, that caters to the needs of the youth with its
            innovative teaching methods. Mr. P. Sriram, the chairman, is a
            successful first-generation entrepreneur in the metro for the past
            two decades and his expertise in the industry enhanced his thirst
            for establishing a technical educational institution under the
            banner of Chennai Institute of Technology. This institution provides
            exemplary technical education with a team of dedicated faculty
            members. The campus is 155 Mbps wired and 100 Mbps wi-fi enabled
            with highly sophisticated equipment, state-of-the-art laboratories.
            CIT is equipped with spacious and ventilated classrooms,
            laboratories with latest high configured equipment, digitalized
            central library with over 17000 volumes of books, National and
            International journals and periodicals. Chennai Institute of
            Technology has been very instrumental in promoting higher education
            to our students in technologically advanced countries. There are a
            lot of students aspiring to pursue their studies and career in
            various countries and close to 200 students are at present taking
            training in Japanese and German Languages.
          </p>
          <br />
          <p>
            CIT offers Eight Under Graduate Courses (Mechanical, CSE, ECE, EEE,
            Civil, Mechatronics, Bio-Medical, IT, AI and Data science, Computer
            science and Business systems) and three Post Graduate Courses
            (CAD/CAM, CSE, and Applied Electronics). The institution thrusts on
            imparting the employability skill among the students in order to
            bridge the gap between the Institution and Industries and to equip
            the students with the current industrial skillset, CIT has
            established different training centres and Centre of Excellences
            such as, CIT – KUKA Industrial Robotics Training Centre - South
            India’s 1st Industrial Robot Training Centre in association with
            KUKA, Germany , CIT-Mobitics Mobile Centre of Excellence - India’s
            1st Mobile Apps Development Centre , CIT – Accurate Calibration
            Centre - Centre of Excellence in CMM and Measurements, CIT Skill
            Development Centre affiliated to Automotive Skills Development
            Council (ASDC), Govt. of India, CIT – MK Auto Research Centre etc.
          </p>
          <br />
          <p>
            We are one of the best-rated institutions in South India for
            Industry connections and Industry collaborated activities. Our
            campus itself has Technology Business Incubators with close to 40
            Incubant companies on campus, active in product development and
            Industry consultancy works. CIT has collaborated with various
            overseas institutes such as Tianjin vocational college of mechanics
            and electricity, China, RWTH Aachen University, Germany, Kyutech
            institute of technology, Japan and Dongguk University, South Korea.
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>MECHANICAL DEPARTMENT</h1>
          <p>
            Mechanical engineering is the discipline that applies engineering,
            physics, engineering mathematics, and materials science principles
            to design, analyze, manufacture, and maintain mechanical systems. It
            is one of the oldest and broadest of the engineering disciplines.
            The mechanical engineering field requires an understanding of core
            areas including mechanics, dynamics, thermodynamics, materials
            science, structural analysis, and electricity. In addition to these
            core principles, mechanical engineers use tools such as
            computer-aided design (CAD), computer-aided manufacturing (CAM), and
            product life cycle management to design and analyze manufacturing
            plants, industrial equipment and machinery, heating and cooling
            systems, transport systems, aircraft, watercraft, robotics, medical
            devices, weapons, and others. It is the branch of engineering that
            involves the design, production, and operation of machinery.
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>VISION</h1>
          <p>
            “To be an eminent centre for academia, Industry and research by
            imparting knowledge, relevant practices and inculcating human values
            to address global challenges through novelty and sustainability.”
          </p>
        </div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h1>MISSION</h1>
          <ul>
            <li>
              To create next generation leaders by effective teaching learning
              methodologies and instill scientific spark in them to meet the
              global challenges.
            </li>
            <li>
              To transform lives through deployment of emerging technology,
              novelty and sustainability.
            </li>
            <li>
              To inculcate human values and ethical principles to cater to the
              societal needs.
            </li>
            <li>
              To contribute towards the research ecosystem by providing a
              suitable, effective platform for interaction between industry,
              academia and R & d establishments.
            </li>
            <li>
              To nurture incubation centres enabling structured and
              entrepreneurship and start-ups.
            </li>
          </ul>
        </div>
      </section>

      <section class="main-section">
        <div class="main-div">
          <h1>MECHGUST'23</h1>
          <p>
            Mechgust 2k23 a out-standing tradition with a national outreach. It
            is a platform where fun meets knowledge. We have technical events
            that tests your skills as an engineer and non-technical events that
            engages you throughout the day. We have about 10 technical and 5
            non-technical events and 8 workshops that will bring you to be
            passionate about being a Mechanical Engineer...!
          </p>
        </div>
      </section>
    </div>
    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>
    <script src="..https://janak7-dev.github.io/Mechgust-2023/public/js/nav.js"></script>
  </body>
</html>
