<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/contact.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/footer.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/nav.css" />
    <link
      rel="shortcut icon"
      href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-index.png"
    />
    <title>Contact Us | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="https://janak7-dev.github.io/Mechgust-2023/index.html"
          ><img src="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo.png" alt=""
        /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a
            href="https://janak7-dev.github.io/Mechgust-2023/index.html"
            class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
         <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"><button class="button-nav">
					Register Now
				  </button>
        </a>
          
        </li>
        <li class="nav-link">
          <a
            href="https://janak7-dev.github.io/Mechgust-2023/views/events.html"
            class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a
            href="https://janak7-dev.github.io/Mechgust-2023/views/about.html"
            class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a
            href="https://janak7-dev.github.io/Mechgust-2023/views/contact.html"
            class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="containerSection">
      <div class="shadowConatainer"></div>
      <div class="containerDiv">
        <div class="left-side-contact side-contact">
          <div class="contact-left">
            <h1>Contact Info</h1>
            <br />
            <div class="call-section">
              <img src="https://img.icons8.com/dotty/35/102c2c/phone.png" />
              <a href="linkrel="shortcut icon"
      href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-icon-tab.png">+91-8524042466</a> <br />
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img src="https://img.icons8.com/ios/25/102c2c/new-post.png" />
              <a
                style="padding-left: 10px"
                href="mailto:mechgust@citchennai.net"
                >mechgust@citchennai.net</a
              >
              <br />
            </div>
            <div class="call-section" style="padding-top: 15px">
              <img
                class="location-image"
                src="https://img.icons8.com/ios/25/102c2c/marker--v1.png"
              />
              <p style="padding-left: 5px">
                Chennai Institute of Technology, Sarathy Nagar, Kundrathur,
                Chennai-600069, TamilNadu, India.
              </p>
              <br />
            </div>
          </div>
          <div class="social-media">
            <a
              class="social-media-icons"
              href="https://www.instagram.com/mechgust_cit/"
              ><img
                src="https://img.icons8.com/ios/40/102c2c/instagram-new--v1.png"
            /></a>
            <a
              class="social-media-icons"
              href="https://www.facebook.com/mechgust/"
              ><img src="https://img.icons8.com/ios/40/102c2c/facebook-new.png"
            /></a>
            <a class="social-media-icons" href=""
              ><img
                src="https://img.icons8.com/ios/40/102c2c/youtube-play--v1.png"
            /></a>
          </div>
        </div>
        <form action="https://formsubmit.co/mechgust23@gmail.com"
          method="POST"
          class="right-side-contact side-contact">
          <div class="main-div">
            <input
              id="name"
              class="input-class"
              type="text"
              placeholder="Enter your Name*"
              required
            />
            <input
              id="email"
              class="input-class"
              type="email"
              name="email"
              placeholder="Email Address*"
              required
            />
            <textarea id="message" class="input-class-textarea" name="comments" placeholder="How can we Help you?"></textarea>

            <button type="submit" class="button-btn">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>
    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/nav.js"></script>
  </body>
</html>
