<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/customary-rules.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/nav.css" />
    <link rel="shortcut icon" href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-index.png" />
    <title>Events | MECHGUST</title>
  </head>

  <body>
    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src=".https://janak7-dev.github.io/Mechgust-2023/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
         <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="section-container">
      <h1 class="headingTag">general rules</h1>
      <div class="rules">
        <ul>
          <li>Only college teams are permitted to compete.</li>
          <li>A valid college ID and Bonafide certificate is mandatory.</li>
          <li>
            Prior registration is required, either online or on spot before
            (9:00 AM)
          </li>

          <li>No re-entry is permitted and the entry fee is non-refundable.</li>
        </ul>
      </div>
      <div class="pop-up-div">
        <div class="pop-up-container"></div>
      </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>

    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/nav.js"></script>
  </body>
</html>
