<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/events.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/footer.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/nav.css" />
    <link rel="shortcut icon" href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-index.png" />
    <title>Events | MECHGUST</title>
  </head>

  <body>
    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
         <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="section-container">
      <img class="hero-img" src="https://janak7-dev.github.io/Mechgust-2023/public/assets/hero-index16.jpg" alt="" />
      <h1 class="headingTag">Events</h1>
      <div class="card-main-div">
        <div class="card-div">
          <div class="animation-card-1">
            <div class="events-title">
              <h1>TECHNICAL EVENTS</h1>
            </div>
          </div>
          <div class="card">
            <button
              class="button000"
              onclick="window.location.href='https://janak7-dev.github.io/Mechgust-2023/views/technical-events.html'"
            >
              KNOW MORE
            </button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-2">
            <h1>NON-TECHNICAL EVENTS</h1>
          </span>
          <div class="card">
            <button
              class="button000"
              onclick="window.location.href='https://janak7-dev.github.io/Mechgust-2023/views/non-technical-events.html'"
            >
              KNOW MORE
            </button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-3">
            <h1>WORKSHOPS</h1>
          </span>
          <div class="card">
            <button
              class="button000"
              onclick="window.location.href='https://janak7-dev.github.io/Mechgust-2023/views/workshop.html'"
            >
              KNOW MORE
            </button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-4">
            <h1>ONLINE-EVENTS</h1>
          </span>
          <div class="card">
            <button
              class="button000"
              onclick="window.location.href='https://janak7-dev.github.io/Mechgust-2023/views/online-events.html'"
            >
              KNOW MORE
            </button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-5">
            <h1>SPORTS</h1>
          </span>
          <div class="card">
            <button
              class="button000"
              onclick="window.location.href='https://janak7-dev.github.io/Mechgust-2023/views/sports.html'"
            >
              KNOW MORE
            </button>
          </div>
        </div>
      </div>
      <div class="pop-up-div">
        <div class="pop-up-container"></div>
      </div>
    </section>

    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>

    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/nav.js"></script>
  </body>
</html>
