<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/about.css" />
    <link rel="stylesheet" href="/public/styles/gallery.css" />
    <link rel="stylesheet" href="/public/styles/footer.css" />
    <link rel="stylesheet" href="/public/styles/nav.css" />
    <link rel="shortcut icon" href="/public/assets/logo-index.png" />
    <title>Gallery | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src="/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
          <a href="/views/events.html" class="nav-link-a"
            ><button class="button-nav">Register Now</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
    <main>
      <div style="display: flex; justify-content: center; align-items: center">
        <h1 style="color: FFD700; text-transform: uppercase">
          Mechgust Gallery
        </h1>
      </div>
      <button class="filters-cta">
        <span class="material-symbols-outlined"
          ><img src="/public/assets/magic.png" alt=""
        /></span>
      </button>

      <div class="image-container">
        <div>
          <img src="/public/assets/gallery/2.JPG" />
        </div>
        <div>
          <img src="/public/assets/gallery/1.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/3.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/4.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/5.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/6.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/7.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/8.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/9.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/10.JPG" />
        </div>

        <div>
          <img src="/public/assets/gallery/11.JPG" />
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-div">
        <div class="footmenu">
          <a href="/index.html">Home</a>
          <a href="/views/events.html">Events</a>
          <a href="/views/about.html">About</a>
          <a href="/views/gallery.html">Gallery</a>
          <a href="/views/team.html">Team</a>
          <a href="/views/contact.html">Contact&nbsp;Us</a>
        </div>
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>
    <script src="../public/js/nav.js"></script>
    <script src="../public/js/gallery.js"></script>
  </body>
</html>
