<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/online-events.css" />
    <link rel="stylesheet" href="/public/styles/footer.css" />
    <link rel="stylesheet" href="/public/styles/nav.css" />
    <link rel="shortcut icon" href="/public/assets/logo-index.png" />
    <title>Online-Events | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src="/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
         <a href="/views/events.html" class="nav-link-a"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
          <a href="/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="section-container">
      <img class="hero-img" src="/public/assets/hero-index16.jpg" alt="" />
      <h1 class="headingTag">ONLINE-EVENTS</h1>
      <div class="card-main-div">
        <div class="card-div">
          <span class="animation-card">
            <h1>PHOTOGRAPHY</h1>
          </span>
          <div class="card">
            <button class="button button1">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card">
            <h1>MEME-O-MANIA</h1>
          </span>
          <div class="card">
            <button class="button button2">Know More</button>
          </div>
        </div>
      </div>
      <div class="pop-up-div">
        <div class="pop-up-container"></div>
      </div>
    </section>

    <footer>
			<div class="footer-div">
				<div class="footmenu">
					<a href="/index.html">Home</a>
					<a href="/views/events.html">Events</a>
					<a href="/views/about.html">About</a>
					<a href="/views/gallery.html">Gallery</a>
					<a href="/views/team.html">Team</a>
					<a href="/views/contact.html">Contact&nbsp;Us</a>
				</div>
				<div class="socials">
					<a target="_blank" href="https://www.instagram.com/mechgust_cit/">
						<img
							src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
						/>
					</a>
					<a target="_blank" href="https://www.instagram.com/mechgust_cit/"
						><img
							src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
						/>
					</a>
					<a target="_blank" href="https://www.facebook.com/mechgust/">
						<img
							src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
						/>
					</a>
				</div>
				<p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
			</div>
		</footer>

    <script src="/public/js/online-events.js"></script>
    <script src="/public/js/nav.js"></script>
  </body>
</html>
