<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/about.css" />
    <link rel="stylesheet" href="/public/styles/team.css" />
    <link rel="stylesheet" href="/public/styles/footer.css" />
    <link rel="stylesheet" href="/public/styles/nav.css" />
    <link rel="shortcut icon" href="/public/assets/logo-index.png" />
    <title>Team | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="/index.html"><img src="/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
          <a href="/views/events.html" class="nav-link-a"
            ><button class="button-nav">Register Now</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>
    <div class="main-section-div">
      <section class="main-section">
        <div class="main-div">
            At MECHGUST'23, we are proud to have a team of dedicated and hardworking individuals who strive for excellence in everything they do. Our team's exceptional work for the symposium "Mechgust 23" is a testament to their dedication and commitment.

            Each team member played an integral role in the success of the event. Their tireless efforts, innovative ideas, and attention to detail were truly remarkable. They demonstrated what can be achieved when a team works together towards a common goal.

            Their commitment to excellence has set a new standard for future events. We are proud of their contributions and the positive impact they have made.

            Once again, we thank our team for their hard work and dedication. Their efforts are not just appreciated, but also applauded. Keep up the great work!
          <h1>MECHGUST TEAM</h1>
          <p>
                <h2 style="display: flex;align-items: center;justify-content: center;">President</h2>
                <ul style="display: flex;align-items: center;justify-content: center;">
                    KESHAVARSHINI K
                </ul>
                <br>
                <div>
                    <h3 style="display: flex;align-items: center;justify-content: center;">Vice-President</h3>
                    <ul style="display: flex;align-items:center;justify-content: center;">KUMAR</ul>
                </div>
                <div class="core">
                    <div>
                        <h3 >Managing</h3>
                        <ul >Vignesh, Yadhendra</ul>
                    </div>
                    <div>
                        <h3 >Secretary</h3>
                        <ul >Thilak</ul>
                    </div>
                    <div>
                        <h3 >Videography</h3>
                        <ul >Sylvester, Gopi</ul>
                    </div>
                    <div>
                        <h3 >Design</h3>
                        <ul >Keshav</ul>
                    </div>
                    <div>
                        <h3 >Treasurer</h3>
                        <ul >Bharathi</ul>
                    </div>
                    <div>
                        <h3 >Events</h3>
                        <ul >Suvaji</ul>
                    </div>
                    <div>
                        <h3 >Technical</h3>
                        <ul >Ajhay Ram</ul>
                    </div>
                    <div>
                        <h3 >Sponsorship</h3>
                        <ul >Giridharan, Saran Kumar
                        </ul>
                    </div>
                    <div>
                        <h3 >Promotion</h3>
                        <ul >Rohit</ul>
                    </div>
                    <div>
                        <h3 >Logistics & Requirements</h3>
                        <ul >Sai Prasath</ul>
                    </div>
                    <div>
                        <h3 >Content</h3>
                        <ul >Gopika, Ganesh</ul>
                    </div>
                    <div>
                        <h3 >Web- Design</h3>
                        <ul >Janarthanan</ul>
                    </div>
                    <div>
                        <h3 >Media</h3>
                        <ul >Kiran</ul>
                    </div>
                    <div>
                        <h3 >Decoration</h3>
                        <ul >Santhosh, Manoj</ul>
                    </div>
                    <div>
                        <h3 >Registration</h3>
                        <ul >Raakesh</ul>
                    </div>
                    <div>
                        <h3 >Social Media</h3>
                        <ul >Kumbesh</ul>
                    </div>
                    
                </div>
            </p>
        <br />
        </div>
      </section>
    </div>
    <footer>
			<div class="footer-div">
				<div class="footmenu">
					<a href="/index.html">Home</a>
					<a href="/views/events.html">Events</a>
					<a href="/views/about.html">About</a>
					<a href="/views/gallery.html">Gallery</a>
					<a href="/views/team.html">Team</a>
					<a href="/views/contact.html">Contact&nbsp;Us</a>
				</div>
				<div class="socials">
					<a target="_blank" href="https://www.instagram.com/mechgust_cit/">
						<img
							src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
						/>
					</a>
					<a target="_blank" href="https://www.instagram.com/mechgust_cit/"
						><img
							src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
						/>
					</a>
					<a target="_blank" href="https://www.facebook.com/mechgust/">
						<img
							src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
						/>
					</a>
				</div>
				<p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
			</div>
		</footer>
    <script src="../public/js/nav.js"></script>
  </body>
</html>
