<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/technical-events.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/footer.css" />
    <link rel="stylesheet" href="https://janak7-dev.github.io/Mechgust-2023/public/styles/nav.css" />
    <link rel="shortcut icon" href="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo-index.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Technical Events | MECHGUST</title>
  </head>

  <body>
    <!-- Navbar -->

    <nav class="nav-container">
      <div class="logo-container">
        <a href="https://janak7-dev.github.io/Mechgust-2023/index.html"><img src="https://janak7-dev.github.io/Mechgust-2023/public/assets/logo.png" alt="" /></a>
      </div>
      <ul class="nav-link-container">
        <li class="nav-link" class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/index.html" class="nav-link-a"
            ><button class="button-nav">Home</button></a
          >
        </li>
        <li class="nav-link" class="nav-link">
         <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"><button class="button-nav">
					Register Now
				  </button></a>
          
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/events.html" class="nav-link-a"
            ><button class="button-nav">Events</button></a
          >
        </li>
        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/about.html" class="nav-link-a"
            ><button class="button-nav">About</button></a
          >
        </li>

        <li class="nav-link">
          <a href="https://janak7-dev.github.io/Mechgust-2023/views/contact.html" class="nav-link-a"
            ><button class="button-nav">Contact Us</button></a
          >
        </li>
      </ul>
      <div class="nav-toggler">
        <span></span>
      </div>
    </nav>

    <section class="section-container">
      <img class="hero-img" src="https://janak7-dev.github.io/Mechgust-2023/public/assets/hero-index16.jpg" alt="" />
      <h1 class="headingTag">TECHNICAL EVENTS</h1>
      <div class="card-main-div">
        <div class="card-div">
          <span class="animation-card-1">
            <h1>TECH QUIZ</h1>
          </span>
          <div class="card">
            <button class="button button1">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-1">
            <h1>TECH PUZZLE</h1>
          </span>
          <div class="card">
            <button class="button button10">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-2">
            <h1>
              PAPER <br />
              PRESENTATION
            </h1>
          </span>
          <div class="card">
            <button class="button button2">Know More</button>
          </div>
        </div>

        <div class="card-div">
          <span class="animation-card-3">
            <h1>CAM</h1>
          </span>
          <div class="card">
            <button class="button button3">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-4">
            <h1>CAD MODELLING</h1>
          </span>
          <div class="card">
            <button class="button button4">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-5">
            <h1>WATER ROCKETRY</h1>
          </span>
          <div class="card">
            <button class="button button5">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-5">
            <h1>CYCLE ASSEMBLY</h1>
          </span>
          <div class="card">
            <button class="button button9">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-6">
            <h1>MR.MACHINIST</h1>
          </span>
          <div class="card">
            <button class="button button6">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-7">
            <h1>PROJECT PRESENTATION</h1>
          </span>
          <div class="card">
            <button class="button button7">Know More</button>
          </div>
        </div>
        <div class="card-div">
          <span class="animation-card-8">
            <h1>FINDERS KEEPERS</h1>
          </span>
          <div class="card">
            <button class="button button8">Know More</button>
          </div>
        </div>
      </div>
      <div class="pop-up-div">
        <div class="pop-up-container"></div>
      </div>
    </section>

    <footer>
      <div class="footer-div">
        <div class="socials">
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/instagram-new--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.instagram.com/mechgust_cit/"
            ><img
              src="https://img.icons8.com/ios/50/000000/youtube-play--v1.png"
            />
          </a>
          <a target="_blank" href="https://www.facebook.com/mechgust/">
            <img
              src="https://img.icons8.com/fluency-systems-regular/48/000000/facebook.png"
            />
          </a>
        </div>
        <p>© 2023 Mechgust - ALL RIGHTS RESERVED</p>
      </div>
    </footer>

    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/technical-events.js"></script>
    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/nav.js"></script>
    <script src="https://janak7-dev.github.io/Mechgust-2023/public/js/customary-rules.js"></script>
  </body>
</html>
